<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>-->
    <script src="vendor/vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quest Map</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="form-outter-container" v-if="page==1">
            <img :src=meta.config.image alt="Quest Image" class="quest-image">
            <p>{{ meta.config.desc }}</p>
        </div>
        <div class="form-outter-container" v-if="page==2">
            <ul>
                <li v-for="quest in quests">
                    <div class="quest-item">{{ quest.name }} : {{quest.desc}}</div>
                    <button @click="editQuest(quest.id)">Edit Quest</button>
                    <button @click="selectQuest(quest.id)">View Steps</button>
                </li>
                <li>
                    <button @click="addQuest()">Add Quest</button>
                </li>
            </ul>
        </div>
        <div class="form-outter-container" v-if="page==3">

            <ul>
                <li v-for="quest_entry in quest_entries"> <!--  @click="selectQuestEntry(quest_entry.id)" -->
                    <div class="quest-item">{{ quest_entry.quest }}-{{ quest_entry.id }}</div>
                    <img :src=quest_entry.config.image alt="Quest Image" class="quest-image" v-if="quest_entry.config.image">
                    <div class="quest-item" v-if="quest_entry.config.desc">{{ quest_entry.config.desc }}</div>
                    <div v-if="quest_entry.config.requirements">
                        Requirements:
                        <div class="requirement" v-if="quest_entry.config.requirements.coords">
                            Coords:  &lt; {{ quest_entry.config.requirements.coords.x }}, {{ quest_entry.config.requirements.coords.y }}, {{ quest_entry.config.requirements.coords.z }} > Radius: {{ quest_entry.config.requirements.coords.r }}
                        </div>
                        <template v-if="quest_entry.config.requirements.items">
                            <div class="requirement" v-for="requirement in quest_entry.config.requirements.items">
                                {{ requirement.item }} x {{ requirement.count }}
                            </div>
                        </template>
                    </div>
                    <div v-if="quest_entry.config.materials">
                        Materials:
                        <div class="requirement" v-if="quest_entry.config.materials.cash">
                            Cash {{ quest_entry.config.materials.cash }}
                        </div>
                        <template v-if="quest_entry.config.materials.items">
                            <div class="requirement" v-for="requirement in quest_entry.config.materials.items">
                                {{ requirement.item }} x {{ requirement.count }}
                            </div>
                        </template>
                    </div>
                    <div v-if="quest_entry.config.rewards">
                        Rewards:
                        <div class="requirement" v-if="quest_entry.config.rewards.cash">
                            Cash {{ quest_entry.config.rewards.cash }}
                        </div>
                        <template v-if="quest_entry.config.rewards.items">
                            <div class="requirement" v-for="requirement in quest_entry.config.rewards.items">
                                {{ requirement.item }} x {{ requirement.count }}
                            </div>
                        </template>
                    </div>
                    <div v-if="quest_entry.config.next">
                        Next Step: {{ quest_entry.config.next }}
                    </div>
                    <button @click="editQuestEntry(quest_entry.id)">Edit Entry</button>
                    <button @click="delQuestEntry(quest_entry.id)">Delete Entry</button>
                </li>
            </ul>
            <div>
                <button @click="addQuestEntry(quest_id)">Add Quest</button>
                <button @click="setpage(2)">Back</button>
            </div>
        </div>
        <div class="form-outter-container" v-if="page==4">
            <div class="form-inner-container">
                <label for="quest_name">Quest Name:</label>
                <input type="text" id="quest_name" v-model="quest_name">
                <label for="quest_desc">Quest Description:</label>
                <input type="text" id="quest_desc" v-model="quest_desc">
                <button @click="saveQuest(quest_id)">Save</button>
                <button @click="delQuest(quest_id)">Delete</button>
                <button @click="setpage(2)">Back</button>
            </div>
        </div>
        <div class="form-outter-container" v-if="page==5">
            <div class="form-inner-container">
                <label for="questentry.config.image">Quest Image:</label>
                <input type="text" id="questentry.config.image" v-model="questentry.config.image">
                <label for="questentry.config.desc">Quest Description:</label>
                <input type="text" id="quest_desc" v-model="questentry.config.desc">
                <button @click="saveQuest(quest_id)">Save</button>
                <button @click="delQuest(quest_id)">Delete</button>
                <button @click="setpage(2)">Back</button>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>